{% extends 'base.html' %}
{% block content %}
    <div class="alert alert-primary alert-dismissible fade show">
        いらっしゃいませ、{{ user.username }}さん。
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal memo</h5>
                <h6 class="card-subtitle mb-2 text-muted">個人メモ</h6>
                <p class="card-text">非公開の個人的なメモを格納するためのサービスです</p>
                <a href="{% url 'messages' %}" class="card-link">リンク</a>
            </div>
        </div>
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">File uploader</h5>
                <h6 class="card-subtitle mb-2 text-muted">ファイルアップローダー</h6>
                <p class="card-text">個人利用向けのファイルアップローダーです</p>
                <a href="{% url 'uploader:home' %}" class="card-link">リンク</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Private Crawler</h5>
                <h6 class="card-subtitle mb-2 text-muted">クローラー</h6>
                <p class="card-text">個人向け簡易クローラ(生HTMLを取得するだけのクローラ)</p>
                <a href="{% url 'crawler:home' %}" class="card-link">リンク</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">説明</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">脆弱性を持ったアプリケーションを複数含んでいます</p>
                <p class="card-text">Personal memo: SQLインジェクション・XSS</p>
                <p class="card-text">File uploader: ディレクトリトラバーサル</p>
            </div>
        </div>
    </div>
{% endblock content %}
