{% extends 'base.html' %}
{% block content %}
    {% include 'messages/message_links.html' %}
    <div class="border-bottom">
    {% include 'messages/message_form.html' %}
    </div>
    <h2>メッセージ一覧</h2>
    {% autoescape off %}
    {% for message in messages %}
        <div class="shadow-sm rounded">
            <div class="text-left text-muted">
                メッセージID: <a href="{% url 'search_message' message.id %}">{{ message.id }}</a>
            </div>
            <div class="text-center">
                {{ message.body }}
            </div>
            <p class="text-right"><a href="{% url 'delete_message' message.id %}">削除</a></p>
            <p class="text-right text-muted">投稿者: {{ message.user }} 投稿日時: {{ message.created_at }}</p>
        </div>
    {% endfor %}
    {% endautoescape %}
{% endblock content %}
