{% extends 'base.html' %}
{% block content %}
    {% include 'messages/message_links.html' %}
    <h2>特定メッセージの検索</h2>
    <form acition="{% url 'message' %}" method="get">
        {% csrf_token %}
        <div classs="form-group">
            <label for="message_id">メッセージID</label>
            <input type="text" placeholder="メッセージID" name="message_id" id="message_id">
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </form>

    {% if message is not None%}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">投稿者名</th>
                    <th scope="col">投稿日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">{{ message.id }}</td>
                    <td scope="col">{{ message.user }}</td>
                    <td scope="col">{{ message.created_at }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="font-weight-bold">本文</div>
                        {{ message.body }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock content %}
